* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
  letter-spacing: 1px;
}
.toggle {
  display: block;
}
.menulist {
  animation: slideToLeft 1s ease-in-out ;
}
@keyframes slideToLeft {
  0% {
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
.back-to-top {
  right: 1%;
  bottom: 5%;
}
